{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col-10" style='justify-content: center; margin: 0 auto; margin-top:5%; margin-bottom:5%;'>
        <div class="post-name">
            <h3 class="post-category">Tell the world about your thoughts, {{ current_user.nickname }}</h3>

        </div>
        <form method="post">
          <div class="row">
              <div class="col"><input type="text" name='post-name' style="border: 3px solid black; margin:0 auto;margin-bottom:3%;border-radius: 20px;padding:10px;" placeholder="Post name"></div>
          </div>

            <textarea name="editordata" id="summernote" style='min-height: 30%;' ></textarea>
            <input type="submit" class="btn btn-block btn-primary" value="Post!" style="margin-top:4%;">
        </form>
    </div>
</div>
{% endblock %}
