{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <!-- Login -->
            <div class="login-form">
                <form method="post">
                    <div class="row" id='login-header'>Sign In</div>

                    <p> <input type='email' placeholder="Email" id='reg-email'></p>
                    <p>
                        <input type="password" placeholder="Password"></p>
                    <p><input type="submit" value="Log in" id='button'></p>
                    <p style="text-align: center;"><a href="/register">I haven't registered yet</a></p>
                </form>
            </div>
        </div>

    </div>
</div>
{% endblock %}
