{% extends "base.html" %}

{% block content %}

       <div class="container">
        <div class="row">
            <div class="col">
                <!-- Post header -->
                <div class="post-name">
                    <h3 class="post-category">"POST NAME"</h3>
                    <div class="author-info">

                        <img src="static/img/mariklolik.jpg" alt="LOL" class='author-img'>
                        <span id='name'>Author name</span>
                    </div>
                </div>
            </div>

        </div>

        <!-- Post body -->
        <div class="row">
            <div class="col">
                <!-- Post text -->
                <div class="post-text">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus, quibusdam quis minima nisi labore est rem adipisci officia accusamus aperiam et nostrum corporis ullam consequuntur soluta commodi velit sapiente in! ipsum dolor sit amet, consectetur adipisicing elit. Labore eaque ea, iusto sunt fugiat cumque nesciunt totam rem ipsam iste voluptatum vel porro ipsa. Provident, obcaecati necessitatibus corporis maiores dolore. ipsum dolor sit amet, consectetur adipisicing elit. Illum temporibus, magnam modi, totam voluptatum a quos. Et laborum numquam ipsa dolore voluptatem quasi nemo nulla. Sunt, nam quos quisquam reiciendis.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus, quibusdam quis minima nisi labore est rem adipisci officia accusamus aperiam et nostrum corporis ullam consequuntur soluta commodi velit sapiente in! ipsum dolor sit amet, consectetur adipisicing elit. Labore eaque ea, iusto sunt fugiat cumque nesciunt totam rem ipsam iste voluptatum vel porro ipsa. Provident, obcaecati necessitatibus corporis maiores dolore. ipsum dolor sit amet, consectetur adipisicing elit. Illum temporibus, magnam modi, totam voluptatum a quos. Et laborum numquam ipsa dolore voluptatem quasi nemo nulla. Sunt, nam quos quisquam reiciendis.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus, quibusdam quis minima nisi labore est rem adipisci officia accusamus aperiam et nostrum corporis ullam consequuntur soluta commodi velit sapiente in! ipsum dolor sit amet, consectetur adipisicing elit. Labore eaque ea, iusto sunt fugiat cumque nesciunt totam rem ipsam iste voluptatum vel porro ipsa. Provident, obcaecati necessitatibus corporis maiores dolore. ipsum dolor sit amet, consectetur adipisicing elit. Illum temporibus, magnam modi, totam voluptatum a quos. Et laborum numquam ipsa dolore voluptatem quasi nemo nulla. Sunt, nam quos quisquam reiciendis.</p>
                </div>
            </div>
        </div>

        <!-- Post footer -->

        <div class="row">
            <div class="col">
                <!-- Post stats -->
                <div class="like">
                    <i class="far fa-heart fa-3x" id='like'></i>
                </div>
            </div>
        </div>

        <!-- Commentaries -->
        <div class="row">
            <div class="col">
               <h3 class="post-category">Your thoughts</h3>
               <button class="add-commentary">
                   What do you think?
               </button>
                <!-- Post stats -->
                <div class="commentary">
                    <img src="static/img/mariklolik.jpg" alt="" class='commentary-icon'>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem non ipsum doloribus in facilis. Doloremque suscipit sint itaque aut odio officia unde molestiae voluptate porro, voluptatem, earum quasi dignissimos perferendis.</p>
                </div>
                <div class="commentary">
                    <img src="static/img/mariklolik.jpg" alt="" class='commentary-icon'>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem non ipsum doloribus in facilis. Doloremque suscipit sint itaque aut odio officia unde molestiae voluptate porro, voluptatem, earum quasi dignissimos perferendis.</p>
                </div>
                <div class="commentary">
                    <img src="static/img/mariklolik.jpg" alt="" class='commentary-icon'>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem non ipsum doloribus in facilis. Doloremque suscipit sint itaque aut odio officia unde molestiae voluptate porro, voluptatem, earum quasi dignissimos perferendis.</p>
                </div>
                <div class="commentary">
                    <img src="static/img/mariklolik.jpg" alt="" class='commentary-icon'>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem non ipsum doloribus in facilis. Doloremque suscipit sint itaque aut odio officia unde molestiae voluptate porro, voluptatem, earum quasi dignissimos perferendis.</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
