{% extends "base.html" %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col">
            <!-- Post header -->
            <div class="post-name">
                <h3 class="post-category">{{ header }}</h3>
                <div class="author-info">

                    <!-- <img src="static/img/mariklolik.jpg" alt="LOL" class='author-img'> -->
                    {% if current_user.utype %}
                    <span id='name'>Post by : {{ name }}</span>
                    {% else %}
                    <a href='/author/{{ author_href }}'id='name'>Post by : {{ name }}</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <!-- Post body -->
    <div class="row">
        <div class="col">
            <!-- Post text -->
            <div class="post-text">
                {{ content|safe }}
            </div>
        </div>
    </div>

    <!-- Post footer -->



    <!-- Commentaries -->
    <div class="row">
        <div class="col">
            <h3 class="post-category">Your thoughts</h3>

            <form method="post">
                {% if can_delete %}
                <input type="submit" class="btn btn-block btn-primary" name='post-delete' value="Delete post" style="margin:5% 0 5% 0">
                {% endif %}
                <div class="row">
                    <div class="col-1">
                        <!-- Post stats -->
                        <div class="like">
                            <div class="checkbox-wrapper">
                                <input type="checkbox" name="post-like" />
                                <div class="checkbox"><i class="fa fa-check" name='Like'></i></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6" style='justify-content: center; text-align: center; font-family:Lexend Giga;'>
                        <p>I liked that! Just like {{ likes }} people! </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col" style="margin-top: 5%;">
                        <textarea name="editordata" id="summernote" style='min-height: 30%;'></textarea>
                        <input type="submit" class="btn btn-block btn-primary" value="I think so!" style="margin-top:4%;">
                    </div>
                </div>

            </form>
            <!-- Post stats -->

            {% for comment in comments %}
            <div class="commentary">
                <p style='text-align: center;font-family: Lexend Giga;'>Commentary by {{ comment.head }}</p>
                <p>{{ comment.content|safe }}</p>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
