{% extends "base.html" %}

{% block content %}
<div class="p-x-1 p-y-3" id='registration'>
    <form class="card card-block m-x-auto bg-faded form-width" method="post" style="font-size:18px;">
        {{ form.hidden_tag() }}


        <legend class="m-b-1 text-xs-center" id='reg-header'>{% if action %} Creator registration {% else %} User registration{% endif %}</legend>
        <div class="text-xs-center"><a href="/login" class="btn btn-block btn-primary">Already
            registred? - Sign In!</a></div>
        <div class="form-group has-float-label">
            <span class="form-group has-float-label">

                {{ form.username.label }}
                {{ form.username(class='form-control', size=32, placeholder='mr.kekster') }}
                {% for error in form.username.errors %}
                    <p style="color: red;">[{{ error }}]</p>
                {% endfor %}
            </span>
        </div>
        <div class="form-group has-float-label">
            <span class="has-float-label">
                {{ form.email.label }}
                {{ form.email(class="form-control", id="email", type="email", placeholder="name@example.com") }}
                {% for error in form.email.errors %}
                    <p style="color: red;">[{{ error }}]</p>
                {% endfor %}
            </span>
        </div>
        <div class="form-group has-float-label">
            {{ form.password.label }}
            {{ form.password(class="form-control", id="password", type="password", placeholder="••••••••") }}
            {% for error in form.password.errors %}
            <p style="color: red;">[{{ error }}]</p>
            {% endfor %}
        </div>
        <div class="form-group has-float-label">
            <label for="password2">Repeat password</label>
            {{ form.password2(class="form-control", id="password", type="password", placeholder="••••••••") }}
            {% for error in form.password2.errors %}
            <p style="color: red;">[{{ error }}]</p>
            {% endfor %}
        </div>
        <div class="text-xs-center">
            {{ form.submit(class="btn btn-block btn-primary", id='button-reg') }}
        </div>
    </form>
</div>
{% endblock %}
