{% extends "base.html" %}

{% block content %}
<div class="p-x-1 p-y-3" id='registration'>
    <form class="card card-block m-x-auto bg-faded form-width">
        <legend class="m-b-1 text-xs-center" id='reg-header'>Creator registration</legend>
        <div class="form-group has-float-label">
            <span class="form-group has-float-label">
                <input class="form-control" id="last" type="text" placeholder="Nickname" name='Nickname' required />
                <label for="last">Nickname</label>
            </span>
        </div>
        <div class="form-group has-float-label">
            <span class="has-float-label">
                <input class="form-control" id="email" type="email" placeholder="name@example.com" name='Email' required />
                <label for="email">ЭЛЕКТРОМЫЛО</label>
            </span>
        </div>
        <div class="form-group has-float-label">
            <input class="form-control" id="password" type="password" placeholder="••••••••" required />
            <label for="password">Password</label>
        </div>
        <div class="form-group has-float-label">
            <input class="form-control" id="password2" type="password" placeholder="••••••••" required />
            <label for="password">Repeat password</label>
        </div>
        <div class="text-xs-center">
            <button class="btn btn-block btn-primary" type="submit" id="button-reg">Done!</button>
        </div>
    </form>
</div>
{% endblock %}
